html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.png");
  background-position: center;
}

.navbar {
  background-color: #d0cdc0;
}


.navbar-brand {
  color: white;
  font-size: 24px;
}

.navbar-brand:hover {
  color: rgb(241, 241, 241);
}

.jumbotron {
  background-color: rgba(236, 240, 241, 0.8);
}

.jumbotron .btn {
  color: #fff;
  background-color: #a9a79f;
  border-color: #a9a79f;
}

.jumbotron .btn:hover {
  background-color: #83817b;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.icons i:hover {
  font-size: 28px;
  transition: all .2s ease-in-out;
}

.note-textarea, .note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 75px);
  padding: 15px 10px;
  font-size: 18px;
}

.note-title {
  margin-top: 13px;
  padding: 0px 10px; 
  font-size: 42px;
}

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.note-title, .note-textarea, .card {
  background: rgba(255, 255, 255, 0.7);
}

.list-container .card {
  height: calc(100vh - 85px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow-y: auto;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group:first-child .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.list-group-item:hover {
  background: #d2d0d0;
}

.list-group-item i:hover {
  font-size: 20px;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 575px) {
  .list-container {
    display: none;
  }

  .back-notes {
    margin-top: 20px;
  }

  .back-notes:active {
    color: #88877f;
  }

  .back-notes span:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .note-textarea {
    height: 200%;
  }
}